:root {
    --cm-light: rgb(231, 255, 246);
    --cm-primary: rgb(0, 253, 156);
    --cm-primary-darker: rgb(31, 52, 44);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: var(--cm-light);

    & nav {
        padding-inline: 5rem;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--cm-primary-darker);
        }

        & button {
            background-color: var(--cm-primary);
            padding: .5rem 1.5rem;
            border: none;
            border-radius: .5rem;
            font-weight: bold;
            color: var(--cm-primary-darker);

            &:hover {
                color: var(--cm-primary);
                background-color: var(--cm-primary-darker);
                cursor: pointer;
            }
        }
    }
}

main {
    height: calc(100vh - 60px);
    background-color: var(--cm-primary);
    padding-top: 5rem;

    .game_board {
        max-width: calc(1000px + 4px);
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid var(--cm-primary-darker);
        border-radius: .3rem;
        overflow: hidden;

        .square {
            width: 100px;
            height: 100px;
            background-color: var(--cm-light);
            border: 2px solid var(--cm-primary-darker);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}